<!DOCTYPE html>
<html>
  <head>
    <meta charset= "utf-8">
    <meta name = "viewport" content = "width=device-width,
     initial-scale = 1">
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
     <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <!-- Bootstrap CSS -->

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    



  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="postview">My Posts</a>
      <a class="nav-item nav-link" href="createpost">Add Post</a>
      <a class="nav-item nav-link" href="Funny">Funny</a>
      <a class="nav-item nav-link" href="Spooky">Spooky</a>
      <a class="nav-item nav-link" href="Awesome">Awesome</a>
      <a class="nav-item nav-link" href="account">MyAccount</a>
      <a class="nav-item nav-link" href="logout">Log Out</a>

    </div>
  </div>
</nav>
    <div>
      {% block content %}
      {% endblock %}
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script>
      var map;
      function initMap() {
        var location = {lat: {{lat}}, lng: {{lon}}}
        map = new google.maps.Map(document.getElementById('map'), {
          center: location,
          zoom: 7
        });

        var marker = new google.maps.Marker({
          position: {lat: {{lat}}, lng: {{lat}}},
          map: map,
          title: 'Post was posted from here'
        });

      }

  </script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaXerkuhTtO8qisoB7JdedC-Fr0Y1A5To&callback=initMap">
  </script>

  <script>
    window.cookieconsent.initialise({
      "palette": {
        "popup": {
          "background": "#252e39"
        },
        "button": {
          "background": "#14a7d0"
        }
      }
    });
    </script>
  </body>
</html>
