<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset= "utf-8">
    <meta name = "viewport" content = "width=device-width,
     initial-scale = 1">
    <!-- ../static/css/bootstrap.min.css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/design.css') }}">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="signup">Sign Up</a>
      <a class="nav-item nav-link" href ="login">Sign In</a>
    </div>
  </div>
</nav>
    <div>
      {% block content %}
      {% endblock %}
    </div>
    <script type="text/javascript" src="../static/js/jquery-3.3.1.slim.min.js">
    </script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js">
    </script>

  </body>
</html>
