{% extends "base2.html" %}
{% block content %}



<form action = "" method="post", enctype = multipart/form-data>
  {{ form.hidden_tag() }}
       <div class="container form-group col-md-8">
         <p>
            {{ form.title.label(class = ' col-form-label') }}
            {{ form.title(class = 'form-control col-md-3', placeholder = "Enter Title Here") }}
            {% for error in form.title.errors %}
         <span style="color: red;">[{{ error }}]</span>
       {% endfor %}<br>
         </p>
       </div>
       <div class="container form-group col-md-8">
         <label for="desc">Description</label>
         <p>
             {{ form.description(rows = '6',cols = '70', class ='form-control col-md-8',placeholder = "What's on your mind?") }}<br>
             {% for error in form.description.errors %}
         <span style="color: red;">[{{ error }}]</span>
       {% endfor %}
       <p>Add a photo: <input type="file" name="photo"/><BR></p>
         <br>
         </p>
       </div>
       <div class="container form-group col-md-8">
         <p> Add a Tag to share your Post!</p>
       {{ form.tag.label }}{{ form.tag(rows = 3, multiple = True ) }}
       <p class = "col-md-8">{{ form.share_location(class = "form-check-input") }} {{ form.share_location.label }}</p>
       <div class = 'container'>
         {% with messages = get_flashed_messages() %}
            {% if messages %}
             <ul>
              {% for message in messages %}
                <li>{{ message }} </li>
              {% endfor %}
             </ul>
           {% endif %}
         {% endwith %}
       </div>
     </div>
       <div class = "container col-md-8">
       {{ form.submit(class = 'btn btn-primary') }}
       </div>
 </form>

 {% endblock %}
