{% extends "base2.html" %}
{% block content %}
   <form action = "/add/" method="post">
     {{ form.hidden_tag() }}
          <div class="container form-group col-md-8">
            <label for="title">Reminder</label>
            <p>
                {{ form.title }}
                {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
            </p>
          </div>
          <div class="container form-group col-md-8">
            <label for="date">Date</label>
            <p>
                {{ form.date }}
                {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
            </p>
          </div>
          <div class="container form-group col-md-8">
            <label for="desc">Description</label>
            <p>
                {{ form.description(rows = '10',cols = '70') }}<br>
                {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
          {% endfor %}<br>
            </p>
          </div>
          <div class = "container col-md-8">
          {{ form.submit }}
          </div>
    </form>
 {% endblock %}
