{% extends "base2.html" %}
{% block content %}
<div class="alert alert-primary" role="alert">
Something Went Wrong. <a href="{{ url_for('login') }}">Click here to go back </a></p>
</div>
{% endblock %}
 {% endblock %}
