{% extends "base.html" %}
{% block content %}
<div class = "row h-100 justify-content-center align-items-center">
  {% with messages = get_flashed_messages() %}
     {% if messages %}
      <ul>
       {% for message in messages %}
         <li>{{ message }} </li>
       {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</div>
  <div class="container h-100">
  <div class="row h-100 justify-content-center align-items-center">

    <form action="" method="post" >
      {{ form.hidden_tag() }}
      <div class="form-group">
        <p >
            {{ form.username.label }}<br>
            {{ form.username(size=32, class = "form-control") }}</p>
            {% for error in form.username.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
        </p>
      </div>
      <div class="form-group">
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, class = "form-control") }}
            {% for error in form.password.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
        </p>
      </div>
      <div class="form-group">
        <p class = "col md5">{{ form.remember_me(class = "form-check-input") }} {{ form.remember_me.label }}</p>
        <p>Don't have an account? <a href="{{ url_for('signup') }}">Click to Register!</a></p>
        <p>{{ form.submit(class = "btn btn-primary") }}</p>

      </div>
    </form>
  </div>
</div>
{% endblock %}
