{% extends "base2.html" %}
{% block content %}



<div class = " container col-md-5 text-center ">
<div class="card " style="width: 18rem;">
  <img class="card-img-top" src="{{url_for('static', filename = 'images/avatar.jpg')}}" alt="Card image cap">
  <div class="card-body">
    <ul class="list-group list-group-flush">
         <li class="list-group-item "></li>
   <li class="list-group-item ">Username: {{current_user.username}}</li>
   <li class="list-group-item">Email: {{current_user.email}}</li>
    <li class="list-group-item "><a href="settings" class="btn btn-primary">Change Password</a></li>
 </ul>

  </div>
</div>
</div>

{% endblock %}
