{% extends "base2.html" %}
{% block content %}
<br>

<div class = "container col-md-5">
<h2>{{title}}:</h2>
</div>
  {% set present = 'False' %}
    {% for post in posts %}
      {% if id == -1 %}
      <div class = "container col-md-5">
      <div class="card "  style="width: 30rem;">
    <div class="card-header">
        <h5 class="card-title ">{{post.title}}</h5>
        {% if post.region is not none %}
         <h6 class="card-subtitle mb-2 text-muted text-right"><a href = {{url_for('location',id = post.id)}}>At: {{post.region}} {{post.city}} {{post.zip}}</a></h6>
         {%endif %}

    </div>
    <div class="card-body">
      <div class = "h-100 w-100 text-center">
        {% if post.path is not none  %}
      <img src="{{post.path}}"  alt=" Image not found" class = " w-100 "/>
      {% endif %}
    </div>
      <blockquote class="blockquote mb-0">

        <p>{{post.body}}</p>

        <footer class="blockquote-footer text-right">{{post.author}} </footer>
        <!-- <p class = "text-right small">{{post.timestamp}}</p> -->
      </blockquote>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
           {%- for tag in post.tagging -%}
           <a href="{{tag.tag_name}}" class="card-link">#{{tag.tag_name}}</a>
        {%- endfor -%}  <p class = "text-right small">{{post.timestamp}}</p>
         </li>
       </ul>

    </div>
  </div>
  </div>
  <br>
  {% else %}
      {% for tag in post.tagging %}
        {% if tag.tag_name == id %}
        <div class = "container  col-md-5">
        <div class="card "  style="width: 30rem;">
      <div class="card-header">
          <h5 class="card-title ">{{post.title}}</h5>
          {% if post.region is not none %}
           <h6 class="card-subtitle mb-2 text-muted text-right"><a href = {{url_for('location',id = post.id)}}>At: {{post.region}} {{post.city}} {{post.zip}}</a></h6>
           {%endif %}

      </div>
      <div class="card-body">
        {% if post.path is not none  %}
      <img src="{{post.path}}"  alt=" Image not found" class = " w-100 h-100"/>
      {% endif %}
        <blockquote class="blockquote mb-0">
          <p>{{post.body}}</p>
          <footer class="blockquote-footer text-right">{{post.author}} </footer>
          <!-- <p class = "text-right small">{{post.timestamp}}</p> -->
        </blockquote>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
             {%- for tag in post.tagging -%}
             <a href="{{tag.tag_name}}" class="card-link">#{{tag.tag_name}}</a>
          {%- endfor -%}  <p class = "text-right small">{{post.timestamp}}</p>
           </li>
         </ul>

      </div>
    </div>
    </div>
    <br>
        {% endif %}
      {% endfor %}
  {% endif %}

    {% endfor %}

 {% endblock %}
