{% extends "base2.html" %}
{% block content %}

<div class = "outer">
<div class = "middle">
<div class = 'inner'>
  <div class="container">
  <div class="row h-25 justify-content-center align-items-center jumbotron">

    <form action="" method="post" >
      {{ form.hidden_tag() }}
      {% with messages = get_flashed_messages() %}
         {% if messages %}
          <ul>
           {% for message in messages %}
             <li>{{ message }} </li>
           {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <div class="form-group">
        <p >
            Current {{ form.previous.label }}<br>
            {{ form.previous(size=32, class = "form-control") }}
            {% for error in form.previous.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
        </p>
      </div>
      <div class="form-group">
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32, class = "form-control") }}
            {% for error in form.password.errors %}
           <span style="color: red;">[{{ error }}]</span>
           {% endfor %}
        </p>
      </div>
      <div class="form-group">
        <p>{{ form.confirm.label }}{{ form.confirm(class = "form-control") }}
          {% for error in form.confirm.errors %}
         <span style="color: red;">[{{ error }}]</span>
         {% endfor %} </p>
        <p>{{ form.submit(class = "btn btn-primary") }}</p>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>

{% endblock %}
