{% extends "base.html" %}
{% block content %}
     <!-- <h1 class = "text-center"> This is the {{title}} page where you create all your tasks </h1>
     <div class = "text-center">
     <a href="create" class="btn btn-success ">Create task</a>
    </div> -->
    <div class="alert alert-primary" role="alert">
Well done! you have successfully signed up!
Navigate through the menu to log in.
</div>
 {% endblock %}
